:root {
    --color-logo: #000000;
    --color-header-card: #ffffff;
    --color-section: #E5E5E5;
    --color-blue: #2196F3;
    --color-accent-hover: #188CE8;
    --color-text: #757575;
    --color-icon: rgba(117, 117, 117, 1);

    --color-hero: #2F303A;
    --color-title: #212121;
    --color-team-card: #F5F4FA;
    --color-work-card: #EEEEEE;
    --color-transparent: rgba(255, 255, 255, 0.6);
    --color-shadow-one: rgba(0, 0, 0, 0.1);
    --color-shadow-two: rgba(0, 0, 0, 0.08);
    --color-shadow-three: rgba(0, 0, 0, 0.12);
    --color-shadow-four: rgba(0, 0, 0, 0.15);
    --color-shadow-five: rgba(0, 0, 0, 0.14);
    --color-shadow-six: rgba(0, 0, 0, 0.2);
    --color-bottom-line: #ECECEC;
    --color-about-icon: #F5F4FA;

    --font-bold: bold;
    --font-middle: 500;
    --font-large: 900;

    --font-size-min: 14px;
    --font-size-mid: 16px;
}

h1,
h2,
h3,
p,
ul {
list-style: none;
padding: 0;
margin: 0;
}

img {
display: block;
margin: 0; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
 margin-left: auto;
 margin-right: auto;
 width: 1200px;
 padding: 0 15px;
}

.section {
padding-top: 94px;  
text-align: center;
}

/* body-style */
.body {
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

/* header-style */
.body-header.container {
background-color: var(--color-header-card);
}

.body-header {
 border-bottom: 1px solid var(--color-bottom-line); 
}

.main-body {
display: flex;
align-items: center; 
}

.logo {
font-family: Raleway, sans-serif;
font-weight: var(--font-bold);
font-size: 26px;
line-height: 1.2;

margin-right: 93px;

color: var(--color-logo);
text-decoration: none;
width: 145px;
height: 31px;
}

.span-blue {
color: var(--color-blue);
}

.ikon-smartphone {
width: 10px;
height: 16px; 
margin-right: 10px; 
}

.icon-envelope {
width: 16px;  
height: 12px;
margin-right: 10px;
}

/* nav */
.site-nav,
.auth-nav {
display: flex;
align-items: center;
}

.site-nav .nav-list:not(:last-child) {
 margin-right: 50px; 
}

.body-header .link {
display: block;
padding-top: 32px;
padding-bottom: 32px;

color: var(--color-title);
font-weight: var(--font-middle);
font-size: var(--font-size-min);
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus 
{
color: var(--color-blue);
}

.site-nav .link.current {color: var(--color-blue);
}

.auth-nav .link {
color: var(--color-text);
font-weight: var(--font-middle);
font-size: var(--font-size-min);
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.auth-nav {
 display: flex; 
 margin-left: auto;
}

.auth-nav .nav-list:not(:last-child) {
 margin-right: 50px; 
}

.auth-nav .link:hover,
.auth-nav .link:focus
{
color: var(--color-blue);
}

/* hero */
.hero {
padding-top: 200px;
padding-bottom: 200px;
text-align: center;

 max-width: 1600px;
 height: 600px; 
 margin: auto;
 
 background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
 background-image: url('../images/Imgf.jpg');
 background-position: center;
}

.hero-title {
color: var(--color-header-card);
font-weight: var(--font-large);
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;
margin: 0 auto;
width: 696px;
text-align: center;
}

.hero-btn {
display: inline-block;
text-align: center;
letter-spacing: 0.06em;

border-style: none;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
margin-top: 30px;

background-color: var(--color-blue);
color: var(--color-header-card);
cursor: pointer;
font-weight: var(--font-bold);
font-size: var(--font-size-mid);
line-height: 1.88;
}

.hero-btn:hover,
.hero-btn:focus {
background-color: var(--color-accent-hover);
box-shadow: 0px 4px 4px var(--color-shadow-four);
}

/* benefits */
.about {
  padding-top: 94px;
}

.about-item  {
display: flex;
padding: 0;
}

.item:not(:last-child){
margin-right: 30px;
}

.item {
flex-basis: calc((100% - 90px) / 4);
} 

.about-title {
font-weight: var(--font-bold);
font-size: var(--font-size-min);
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}

.about-text {
color: var(--color-text);
font-size: var(--font-size-min);
line-height: 1.71;
}

.about-icon {
display: flex;  
width: 270px; 
height: 120;
background-color: var(--color-about-icon);
border-radius: 4px;
margin-bottom: 30px; 
}

.icon-excellence {
width: 70px; 
height: 70px;
margin: auto;
}

/* work */

.section.work {
padding-bottom: 94px;
}

.work-title {
font-weight: var(--font-bold);
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-bottom: 50px;    
}

.work-list {
  display: flex;
}

.our-works {
flex-basis: calc((100% - 60px) / 3);  
}

.our-works:not(:last-child) {
 margin-right: 30px; 
}

/* our teame */
.section.teame {
padding-top: 94px;
padding-bottom: 94px; 
}

.signature {
 padding-top: 30px; 
 padding-bottom: 30px;
}

.our {
display: flex;
padding-right: 0;
}

.person {
flex-basis: calc((100% - 90px) / 4);
}

.person:not(:last-child) {
margin-right: 30px;    
}

.person.card {  
display: block;  
width: 270px;  

background: var(--color-header-card);

box-shadow: 0px 1px 3px var(--color-shadow-three), 0px 1px 1px var(--color-shadow-five), 0px 2px 1px var(--color-shadow-six);
border-radius: 0px 0px 4px 4px;
}

.teame {
background-color: var(--color-team-card);
}

.teame-img {
font-weight: var(--font-middle);
font-size: var(--font-size-mid);
line-height: 1.18;  
margin-bottom: 10px;  
}

.teame-list {
font-size: var(--font-size-mid);
line-height: 1.18;
color: var(--color-text);    
}

/* footer */
.section.footer {
display: block;
text-align: left;
padding-top: 60px;
padding-bottom: 60px;
}

.footer {
background-color: var(--color-hero);
}

.logo.footer {
display: block;  
margin: 0 0 20px;
}

.footer .link {
padding: 0;
margin: 0;
}

.footer-list:not(:last-child) {
margin-bottom: 6px;
}

.footer-white {
color: var(--color-header-card);
font-family: Raleway, sans-serif;
font-weight: var(--font-bold);
font-size: 26px;
line-height: 1.2;
}

.footer .footer-text {
color: var(--color-header-card);
font-style: normal;
font-size: var(--font-size-min);
line-height: 1.7;
margin-bottom: 9px;
}

.footer .link {
color: var(--color-transparent);
font-style: normal;
font-size: var(--font-size-min);
line-height: 1.7;
text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--color-blue);
}

/* portfolio-style */
.filter {
margin-bottom: 50px;
}

.filter .filter-list{
display: inline-block; 
align-items: center;
}

.filter .filter-list:not(:last-child) {
 margin-right: 8px; 
}

.portfolio-btn {
background-color: var(--color-team-card);
color: var(--color-title);
cursor: pointer;
border-radius: 4px;
border-style: none;
padding: 6px 22px;

font-weight: var(--font-middle);
font-size: var(--font-size-mid);
line-height: 1.6;
text-align: center;
}

.portfolio .all {
min-width: 73px; 
}

.portfolio .web {
min-width: 128px;
}

.portfolio .app {
min-width: 145px;
}

.portfolio .dsn {
min-width: 59px;
}

.portfolio .mark {
min-width: 86px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
background-color: var(--color-blue);
color: var(--color-header-card);
background: #2196F3;
box-shadow: 0px 3px 1px var(--color-shadow-one), 0px 1px 2px var(--color-shadow-two), 0px 2px 2px var(--color-shadow-three);
border-radius: 4px;
}

.flex-container {
display: flex;
flex-wrap: wrap;
padding-bottom: 94px;
}

.projects {
display: block;
flex-basis: calc((100% - 60px) / 3);
margin-right: 30px;
margin-bottom: 30px;
}

.projects:nth-child(3n) {
margin-right: 0px;
}

.projects:nth-last-child(-n + 3) {
margin-bottom: 0;  
}

.projects.card {
width: 370px;
left: 1015px;
top: 1130px;

background: var(--color-header-card);
box-sizing: border-box; 
}

/* font-style */
.portfolio-title {
font-weight: var(--font-bold);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;    
}

.portfolio-text {
font-size: var(--font-size-mid);
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--color-text);
}

.example {
padding: 20px 24px;
text-align: left;
border-left: 1px solid var(--color-work-card);  
border-right: 1px solid var(--color-work-card);
border-bottom: 1px solid var(--color-work-card);
}